/* list(board) */
.bbs-article{border-top:1px solid #ddd;display:block;}
.bbs-article li{	display:table;width:100%;padding:0px;border-bottom:1px solid #ddd;}
.bbs-article li div{	display:table-cell;vertical-align:top;padding:20px;}
.bbs-article li div.thum-img{width:200px;height:140px;	}
.bbs-article li div.thum-img img{width:198px;height:138px;border:1px solid #dedede;	}
.bbs-article li div.cont{	padding-left:10px;display:block;height:113px;overflow:hidden;	}
.bbs-article li div p.tit{font-size:16px;font-weight:bold;padding-bottom:0.625em;}
.bbs-article li div.cont p.con{word-break:break-all;padding-top:10px;}
.bbs-article li.empty{width:100%;text-align:center;line-height:100px;}

.ntb-search { position:relative; margin:40px auto; max-width:840px;  }
.ntb-search select { display:inline-block; vertical-align:middle; width:230px; padding:0 10px; border:1px solid #ddd; outline:none; line-height:55px; height:55px; font-size:16px; font-weight:300; color:#5a5656; box-sizing:border-box; background-color:#fff; }
.ntb-search input[type="text"] { display:inline-block; vertical-align:middle; margin:0 0 0 2px; width:calc(100% - 241px); border:none; padding:0 70px 0 10px; line-height:55px; height:55px; border:1px solid #ddd; outline:none; font-size:16px; font-weight:300; color:#5a5656; box-sizing:border-box; background-color:#fff; }
.ntb-search input[type="submit"] { position:absolute; top:0; right:0; outline:none; border:none; width:66px; line-height:55px; height:55px; background:none; background:url(/site/images/board/icon_search.png) center center no-repeat; }

@media all and (max-width:767px) {
	.bbs-article li div.thum-img{	width:30%;height:auto;	 }
	.bbs-article li div.thum-img img{	width:100%;height:calc(100vw*(33/200)) !important;border:1px solid #dedede;	}
	.bbs-article li div p.tit{	padding-top:0px;height:15px;overflow:hidden;padding-bottom:0.875em;}
	.bbs-article li div.cont{ height:98px;margin-bottom:10px; position:relative; }
}

@media screen and (max-width:860px){
	.ntb-search { padding:0 20px; }
	.ntb-search input[type="submit"] { right:20px; }
}

@media screen and (max-width:640px){
	.ntb-search select { width:105px; line-height:40px; height:40px; font-size:15px; }
	.ntb-search input[type="text"] { width:calc(100% - 116px); padding:0 55px 0 10px; line-height:40px; height:40px; font-size:15px; }
	.ntb-search input[type="submit"] { width:55px; line-height:40px; height:40px; }
}

@media all and (max-width:480px) {
	.bbs-article li div{	padding:15px;}
	.bbs-article li div.thum-img{	width:30%;height:auto;	 }
	.bbs-article li div.thum-img img{	width:100%;height:calc(100vw*(33/200)) !important;border:1px solid #dedede;	}
	.bbs-article li div p.tit{	font-size:15px;padding-bottom:0.75em;height:15px;overflow:hidden;}
	.bbs-article li div.cont{ height:96px;margin-bottom:10px;padding-left:0px;		}
	.date .sub_t{	display:none;	}
	.bbs-article li div.cont p.con{	word-break:break-all;padding-top:0.375em;	}

}

/* view */
.view{border:1px solid #c8c8c8;padding:30px;margin-bottom:20px;}
.view .view_tit{border-bottom:1px solid #c8c8c8;position:relative;}
.view .view_tit p{font-size:16px;font-weight:700;color:#514f4f;padding-bottom:5px;}
.view .view_tit p span.bar{font-size:16px;font-weight:700;color:#939393;}
.view .view_tit p span{font-weight:700;color:#939393;}
.view .view_tit em{position:absolute;right:0;top:5px;}
.view .sns{padding-top:15px;padding-bottom:65px;}
.view .sns ul{text-align:right;}
.view .sns ul li{display:inline;}
.view .detail{padding:20px 0;}
.view .detail p.image{text-align:center;padding-bottom:50px;}
.view .detail p.txt{white-space:pre-line;border-bottom:1px dashed #e0e0e0;padding-bottom:50px;}
.view p.btn{padding:0 20px;text-align:right;}
.view p.btn input.AXButton{background:#526271;color:#fff;}

/* 일반게시판 뷰, 쓰기 */
.ntb-tb-view {border-top:1px solid #ddd; padding:0; margin-bottom:30px; margin:0 auto}
.ntb-tb-view caption {visibility:hidden;}
.ntb-tb-view th {border-bottom: 1px solid #ddd; padding:20px; border-right: 1px solid #ddd; text-align:center; font-weight: bold; color:#222;font-size:15px;}
.ntb-tb-view th.W25{width:25% !important;}
.ntb-tb-view th.view_tit{padding:40px 30px;font-size:19px;line-height:28px;}
.ntb-tb-view td {border-bottom:1px solid #ddd; padding:20px;text-align:center; vertical-align:middle; line-height:22px;font-size:15px;}
.ntb-tb-view td.cont_txt{padding:20px 20px;}
.ntb-tb-view .left {text-align:left; padding-left:10px;}
.ntb-tb-view .right {text-align:right; padding-left:10px;}
.ntb-tb-view .r_none {border-right:none;}
.ntb-tb-view .b_none {border-bottom:none;}
.ntb-tb-view .font_ip {font-size:8pt; color:#aaa;}
.ntb-tb-view .font_comcnt {color:#d33;}
.ntb-tb-view .font_comment {font-weight: bold; font-size: 11px; color: #ee2ea9;}
.ntb-tb-view .content-area {text-align:left; vertical-align:top; padding:10px; word-break:break-all;}
.ntb-tb-view .content-area > p > img{max-width:851px;text-align:center;}
.ntb-tb-view .sns-area {width:100%; text-align:right; padding-top:10px}
.ntb-tb-view .ip-area {width:100%; text-align:right;}
.ntb-tb-view-btn {position: relative; text-align:left; margin-top:10px; margin-bottom:30px;}
.ntb-tb-view-btn .btnr {position:absolute; right:0; top:0;}
.ntb-tb-view-comment {position: relative; margin-top:10px; margin-bottom:30px;}
.ntb-tb-view-reply {position: relative; margin-top:10px; margin-bottom:30px;}
.ntb-tb-view-prevnext {position: relative; margin-top:10px; margin-bottom:30px;}
