/*헤더*/
#header{ z-index:99; position:fixed; top:0; left:0; width:100%; background-color:transparent; transition:all 0.6s; }
#header .center{ width:80%; display:flex; justify-content:space-between; margin:0 auto; }
/*로고*/
.logo{ margin-top:6px; }
.logo a{ display:block; }
.logo img{ width:180px; height:auto; }
/*gnb*/
.gnb{ display:flex; }
.gnb > li{ width:160px; position:relative; line-height:80px; text-align:center; }
.gnb > li > a{ display:block; color:#eee; font-size:17px; font-weight:bold; transition:all 0.5s; }
.gnb > li > a:hover{ color:#f7841d; }

/***모바일 햄버거***/
.ham{ position:absolute; top:50%; right:30px; transform:translateY(-50%); display:none; font-size:23px; }
.ham i{ color:#fff; }

/*서브gnb*/
.sub_gnb{ position:absolute; left:50%; height:0; transform:translateX(-50%); overflow:hidden; text-align:left; }
.sub_gnb li{ width:160px; line-height:40px; text-align:center; }
.sub_gnb li a{ width:100%; display:block; }
.sub_gnb li:hover a{ color:#f7841d; }
.sub_gnb li a{ display:block; color:#444; font-size:15px; transition:all 0.6s; }
.gnb_bg{ width:100%; height:0; overflow:hidden; transition:all 0.6s; background-color:#fff; }

/*로그인, 마이페이지*/
.right_util{ display:flex; align-items:center;}
.right_util li{ margin:0 10px; line-height:80px; }
.right_util li a{ display:block; color:#eee; font-size:15px; font-weight:bold; transition:all 0.6s; }
.right_util .logintext a {font-size:15px; letter-spacing:1px; }
.right_util li:hover a{ color:#f7841d; }

/*클래스 붙었을 때*/
/*header.on*/
#header.on{ background-color:#fff; }
#header.on .gnb > li > a{ color:#444; }
#header.on .gnb > li > a:hover{ color:#f7841d; }
#header.on .sub_gnb li a{ color:#333; }
#header.on .sub_gnb li:hover a{ color:#f7841d; }
#header.on .right_util li a{ color:#333; }
#header.on .right_util li:hover a{ color:#f7841d; }
/*header.change*/
#header.change{ background-color:#f1f1f4; }
#header.change .gnb > li > a{ color:#444; }
#header.change .right_util li a{ color:#444; }
#header.change .ham i{ color:#444; }

.gnb_bg.change{ background-color:#f1f1f4; }

/***모바일메뉴***/
.mobile{ position:fixed; top:0; left:-100%; width:250px; height:100%; padding:30px; background-color:#fff; transition:all 0.5s; }
/*닫기버튼*/
.mobile .close{ text-align:right; margin-bottom:40px; }
.mobile .close i{ font-size:22px; }
/*로그인,마이페이지*/
.mobile .m_right_util{ display:flex; justify-content:center; margin-bottom:15px; }
.mobile .m_right_util li{ width:80px; border-radius:5px; background-color:#000; line-height:30px; text-align:center; margin:0 10px; }
.mobile .m_right_util li a{ display:block; color:#fff; font-size:13px; }
/*메뉴 표시*/
.mobile .mobile_title{ width:90%; height:25px; border-radius:5px; background-color:#000; text-align:center; margin:0 auto; margin-bottom:20px; }
.mobile .mobile_title h4{ color:#fff; font-size:15px; line-height:25px; font-weight:normal; }
/*모바일 gnb*/
.mobile .m_gnb{ position:relative; text-align:center; }
.mobile .m_gnb > li{ line-height:25px; margin-bottom:20px; background-image:url(../img/downward-arrow.png); background-position:top 3px right; background-repeat:no-repeat; background-size:16px; }
.mobile .m_gnb > li.on{ background-image:url(../img/upward-arrow.png); }
.mobile .m_gnb > li a{ font-size:16px; }
.mobile .m_gnb .m_sub_gnb{ display:none; }
.mobile .m_gnb .m_sub_gnb li{ line-height:23px; }
/*공지사항 리스트*/
.mobile .guide{ margin-top:50px; margin-bottom:30px; }
.mobile .guide h4{ font-size:13px; font-weight:normal; margin-bottom:8px; }
/*검색*/
.mobile .searchWrap{ position:relative; }
.mobile .searchText{ width:100%; padding:5px 0; border:none; border-bottom:1px solid #000; }
.mobile .searchWrap .searchBtn{ position:absolute; top:50%; right:5px; transform:translateY(-50%); border:none; background-color:transparent; cursor:pointer; }
.mobile .searchWrap .searchBtn i{ color:#444; font-size:18px; }
/*sns리스트*/
.mobile .m-sns{ display:flex; justify-content:center; margin-top:40px; }
.mobile .m-sns li{ margin:0 10px; }
.mobile .m-sns li i{ color:#444; font-size:20px; }
/*헤더 끝*/
