/*서브페이지 공통*/
.sub_center {width:78%; margin:0 auto; }
.svis {background-repeat:no-repeat; background-size:cover; padding-top:100px;}
.svis.vis1 {background-image:url(../img/sub/svis1.png);}
.svis.vis2 {background-image:url(../img/sub/svis2.png);}
.svis.vis3 {background-image:url(../img/sub/svis3.png);}
.svis.vis4 {background-image:url(../img/sub/svis4.png);}

.svis .sub_title {font-size:70px; font-weight:700; padding-top:250px; padding-bottom:50px; color:#fff;}

.sub_title span { opacity:0; display:inline-block; min-width:20px; }
.sub_title span {animation:ani_1 .8s 0.5s; animation-fill-mode:both;}

@keyframes ani_1 {
    0% { -webkit-transform:translateY(100px); -ms-transform:translateY(100px); transform:translateY(100px); opacity:0;}
    100% { -webkit-transform:translateY(0); -ms-transform:translateY(0); transform:translateY(0); opacity:1;}
}


.svis .snb {padding-bottom:80px;}
.svis .snb > ul {display:flex; align-items:center;}
.svis .snb > ul > li {position:relative;}


.svis .snb > ul > li.snb_select {padding-left:40px;}
.svis .snb > ul > li.snb_select > a {display:block; width:200px;  line-height:54px; border-bottom:1px solid rgba(255,255,255,0.5); font-weight:500;}
.svis .snb > ul > li > a {color:#fff;}
.svis .snb > ul > li::after {content:""; display:block; width:1px; height:10px; background-color:#fff; opacity:0.5; position:absolute; right:-20px; top:50%; transform:translateY(-50%);}

.svis .snb > ul > li.snb_select > a::after {content:""; display:block; border-bottom: 1px solid #fff; border-right: 1px solid #fff; width: 7px; height: 7px; position: absolute; top:50%; right: 5px; margin-top: -6px; transform:rotate(45deg); transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out;}

.svis .snb > ul > li.snb_select.on > a::after {transform:rotate(225deg);}


.svis .snb > ul > li:last-of-type::after {display:none;}
.svis .snb > ul .homebtn {width:54px; height:54px; border-radius:50%; background-color:var(--main-color); text-align:center; line-height:54px;}


.svis .snb > ul .snbbox {background-color:#fff; width:200px; position:absolute; height:0; overflow:hidden; transition:all 0.3s ease-out; -webkit-transition:all 0.3s ease-out; background-color:var(--sub-color); }
.svis .snb > ul .snbbox > li {line-height:30px; padding-left:18px;}
.svis .snb > ul .snbbox > li.on a {color:#fff; font-weight:500;}
.svis .snb > ul .snbbox > li:hover a {color:#fff; font-weight:500;}
.svis .snb > ul .snbbox > li:first-of-type {margin-top:10px;}
/*.svis .snb > ul .snbbox > li:first-of-type a {color:#fff; font-weight:500;}*/
.svis .snb > ul .snbbox a {color:rgba(255,255,255,0.5); display:block; line-height:40px;}

.sub_con .top_title {font-size:40px; font-weight:700; color:var(--main-color); margin-top:80px; margin-bottom:80px;}

@media screen and (max-width:1240px)  
{
    .sub_center {width:90%;}
    
}

@media screen and (max-width:1024px)  
{
    .svis .sub_title {font-size:48px; padding-top:90px;}
    .svis .snb {padding-bottom:40px;}
    
}

@media screen and (max-width:768px)  
{
    .svis .sub_title {font-size:32px;}
    
    .svis .snb > ul .homebtn {width:40px; height:40px; line-height:40px;}
    .svis .snb > ul > li.snb_select > a {width:150px; font-size:13px;}
    .svis .snb > ul .snbbox a {font-size:13px;}
    .svis .snb > ul > li::after {right:-10px;}
    .svis .snb > ul > li.snb_select {padding-left:20px;}
    .svis .snb > ul .snbbox {width:150px;}
    
    .sub_con .top_title {font-size:32px; margin-bottom:55px;}
    
} 

@media screen and (max-width:430px)  
{
    .svis .snb > ul .homebtn {display:none;}
    .svis .snb > ul > li.snb_select {padding-left:0; margin-right:20px;}

}


/*기업개요*/

.overview h3 {font-size:37px; line-height:45px; margin-bottom:40px;}
.overview p {font-size:20px; line-height:34px; margin-bottom:50px; color:#222;}

.overview .overview_table {width:100%; border-top:2px solid #000; text-align:left; font-size:18px;}

.overview .overview_table tr {height:80px; border-bottom:1px solid #ddd;}
.overview .overview_table th {padding-left:28px; width:220px;}
.overview .overview_table td {line-height:24px;}

@media screen and (max-width:1024px)  
{
    .overview h3 {font-size:30px; margin-bottom:30px;}
    .overview p {font-size:17px; line-height:30px; margin-bottom:40px;}
    .overview .overview_table th {width:150px;}

}

@media screen and (max-width:768px)  
{
    .overview .overview_table {font-size:16px;}
    .overview .overview_table th {width:100px; padding-left:0;}

}

@media screen and (max-width:640px)  
{
    .overview h3 {font-size:20px; margin-bottom:20px;}
    .overview p {font-size:15px; line-height:24px; margin-bottom:30px;}
    
    .overview .overview_table {font-size:13px;}
    .overview .overview_table th {width:80px; padding-left:0;}
    .overview .overview_table tr {display:flex; flex-direction:column; height:auto;}
    .overview .overview_table th {padding:10px;}
    .overview .overview_table td {padding-left:10px; padding-bottom:15px;}
    
    .overview .overview_table tr td:nth-child(2) {border-bottom:1px solid #ddd;}
    .overview .overview_table tr:last-child td:nth-child(2) {border-bottom:none;}
}


/*인사말*/
.greeting_wrap {display:flex;}
.greeting_wrap .msgImg {width:530px; margin-right:150px; position:relative; margin-bottom:60px;}
.greeting_wrap .msgImg img {max-width:100%;}

.greeting_wrap .msg h3 {font-size:37px; line-height:55px; margin-bottom:60px;}
.greeting_wrap .msg h3 span {color:var(--main-color);}
.greeting_wrap .msg p {font-size:20px; line-height:34px;}
.greeting_wrap .msg p span {font-size:18px; display:block; margin-top:50px; line-height:25px;}


@media screen and (max-width:1670px)  
{
    .greeting_wrap .msgImg {margin-right:80px;}
    .greeting_wrap .msg h3 {font-size:30px; line-height:50px; }
}

@media screen and (max-width:1420px)  
{
    .greeting_wrap .msgImg {width:40%; height:auto;}
}

@media screen and (max-width:1024px)  
{
    .greeting_wrap {display:flex; flex-direction:column;}
    .greeting_wrap .msgImg {width:70%;}
}

@media screen and (max-width:640px)  
{
    .greeting_wrap .msgImg {width:100%;}
    .greeting_wrap .msg h3 {font-size:22px; line-height:35px;}
    .greeting_wrap .msg p {font-size:16px; line-height:27px;}
}

@media screen and (max-width:400px)  
{
    .greeting_wrap .msg h3 {font-size:16px; line-height:30px;}
    .greeting_wrap .msg p {font-size:14px;}
    
    .greeting_wrap .msg p span {font-size:15px;}
}


/*조직도*/
/*
.org {width:100%; text-align:center;}
.org img {max-width:1240px;}

.org_mobile {display:none;}


@media screen and (max-width:1240px)  
{
    .org {display:none;}
    .org_mobile {display:block;}
    .org_mobile img {max-width:100%}

}
*/


/*조직도2*/
.org2 {width:1240px; margin:0 auto;}
.org2 .box .tit {width:200px; height:60px; display:flex; align-items:center; justify-content:center;  border-radius:10px;}

.org_01 {margin-bottom:55px; position:relative;}
.org_01 .box .tit {width:200px; height:200px; border-radius:50%; border:33px solid var(--sub-color); margin:0 auto;}
.org_01 .box .tit span {font-size:30px; font-weight:700; text-align:center;}

.org_02 .box .tit {background-color:#c9dbf3; margin:0 auto; position:relative;}
.org_02 .box .tit span {font-size:20px; font-weight:500;}

.org_03 {display: flex; justify-content: space-between; align-items: center; padding-top:55px; padding-bottom:55px; position:relative; max-width:800px; margin:0 auto;}
.org_03 .box {position:relative;}
.org_03 .box .tit {background-color:#e9eff7;}
.org_03 .box .tit {margin-bottom:25px;}
.org_03 .box .tit span {font-weight:500; font-size:18px;}
.org_03 .box:last-of-type .tit {margin-bottom:0;}

.org_04 {display:flex; justify-content:space-between; padding-top:55px; position:relative;}
.org_04 .box .tit {background-color:#e9e9e9;}
.org_04 > .box {position:relative;}
.org_04 > .box:nth-child(2) {margin-right:180px;}
.org_04 > .box > .tit {width:180px; margin:0 auto; margin-bottom:55px; position:relative;}
.org_04 .box .tit span {font-weight:500; font-size:17px;}

.org_04 .cont {margin-right:40px; position:relative;}
.org_04 .cont:last-of-type {margin-right:0;}
.org_04 .cont .tit {background-color:#f6f6f6; width:160px;}

.org_04 .org_04_01, .org_04 .org_04_02 {display:flex; justify-content:space-between; padding-top:55px; position:relative;}

.org_01::after {content:""; display:block; width:1px; height:55px; background-color:#9b9b9b; position:absolute; left:50%; transform:translateX(-50%);}

.org_03::after {content:""; display:block; width:1px; height:100%; background-color:#9b9b9b; position:absolute; left:50%; transform:translateX(-50%); bottom:0;}

.org_03 .org_03_01 .box::after {content:""; display:block; width:200px; height:1px; background-color:#9b9b9b; position:absolute; right:-200px; top:50%; margin-left:45px;}

.org_03 .org_03_01:nth-child(2) .box::after {left:-245px; right:auto;}




.org_04::after {content:""; display:block; width: calc(100% - 270px); height:1px; background-color:#9b9b9b; position:absolute; left:50%; transform:translateX(-50%); top:0; margin-left:45px;}

.org_04 > .box::before {content:""; display:block; width:1px; height:55px; background-color:#9b9b9b; position:absolute; left:50%; transform:translateX(-50%); top:-55px;}

.org_04 > .box > .tit::after {content:""; display:block; width:1px; height:55px; background-color:#9b9b9b; position:absolute; left:50%; transform:translateX(-50%); bottom:-55px;}

.org_04 > .box:last-of-type > .tit::after {display:none;}

.org_04 .cont::before {content:""; display:block; width:1px; height:55px; background-color:#9b9b9b; position:absolute; left:50%; transform:translateX(-50%); top:-55px;}

.org_04 .org_04_01::before, .org_04 .org_04_02::before {content:""; display:block; width: calc(100% - 160px); height:1px; background-color:#9b9b9b; position:absolute; left:50%; transform:translateX(-50%); top:0;}


/*포인트 점*/
.org_02 .box .tit::after {content:""; display:block; position:absolute; bottom:-3px; width:6px; height:6px; border-radius:50%; background-color:var(--sub-color); z-index:3;}

.point-top::before {content:""; display:block; position:absolute; top:-3px; width:6px; height:6px; border-radius:50%; background-color:var(--sub-color); z-index:3;}

.point-right::before {content:""; display:block; position:absolute; right:-3px; width:6px; height:6px; border-radius:50%; background-color:var(--sub-color); z-index:3;}

.point-left::before {content:""; display:block; position:absolute; left:-3px; width:6px; height:6px; border-radius:50%; background-color:var(--sub-color); z-index:3;}


@media all and (max-width:1240px){

    .org2 {width:500px;}

    .org_03 .org_03_01 .box::after {right:-50px; width:50px;}
    .org_03 .org_03_01:nth-child(2) .box::after {left:-95px; width:50px;}
    .org_04 {flex-direction:column; padding-top:0;}
    .org_04 > .box {margin-top:55px;}
    .org_04 > .box:nth-child(1) {margin-top:0;}
    .org_04 > .box:nth-child(2) {margin-right:0;}

    .org_04::after {display:none;}
    .org_04 > .box::before {height:170px; top:-170px;}
    .org_04 > .box:nth-child(1)::before {display:none;}
}


@media all and (max-width:500px){

    .org2 {width:300px;}
    .org2 .box .tit {width:130px; height:40px;}

    .org_01 .box .tit {width:150px; height:150px; border:15px solid var(--sub-color);}
    .org_01 .box .tit span {font-size:17px;}

    .org_02 .box .tit span {font-size:13px;}
    .org_03 .box .tit span {font-size:13px;}

    .org_03 .org_03_01 .box::after {right:-19px; width:19px;}
    .org_03 .org_03_01:nth-child(2) .box::after {left:-65px; width:19px;}

    .org_04 .box .tit span {font-size:13px;}
    .org_04 .org_04_01::before, .org_04 .org_04_02::before {width: calc(100% - 130px);}
}


/*운용철학*/
.phi_wrap h3 {font-size:32px; line-height:40px; margin-bottom:140px;}
.phi_wrap .content .main_circle {width:250px; height:250px; border-radius:50%; background-color:var(--main-color); line-height:250px; text-align:center; font-size:32px; color:#fff; position:relative; margin:0 auto; margin-bottom:130px;}
.phi_wrap .content .main_circle::after {content:""; display:block; border-bottom:2px solid #000; border-right:2px solid #000; width:14px; height:14px; position:absolute; left:50%; bottom:-55px; transform:rotate(45deg) translateX(-50%);}

.phi_wrap .content .detail {border-top:3px solid var(--main-color); display:flex; justify-content:space-between; border-bottom:1px solid #e0e0e0;}
.phi_wrap .content .detail > div {padding:0px 55px; margin:45px 0 75px; text-align:center; width:33.3333%;}
.phi_wrap .content .detail > div:nth-child(2) {border-left:1px solid #e0e0e0; border-right:1px solid #e0e0e0;}
.phi_wrap .content .detail > div .icon {margin-bottom:40px;}
.phi_wrap .content .detail > div .mont {margin-bottom:22px; font-size:20px;}
.phi_wrap .content .detail > div .notomedi {color:#333; font-size:18px; margin-bottom:45px;}
.phi_wrap .content .detail > div .notoregu {color:#666; font-size:16px; text-align:left;}
.phi_wrap .content .detail > div .notoregu > li {line-height:30px;}

@media screen and (max-width:1024px)  
{
    .phi_wrap h3 {font-size:30px; margin-bottom:30px;}
    .phi_wrap .content .detail > div {padding:0 20px;}

}

@media screen and (max-width:768px)  
{
    .phi_wrap h3 {font-size:20px; }
    .phi_wrap .content .main_circle {width:200px; height:200px; line-height:200px; font-size:25px;}
    .phi_wrap .content .detail {flex-direction:column; align-items:center; border-bottom:none;}
    .phi_wrap .content .detail > div {width:100%; border-bottom:1px solid #e0e0e0; padding-bottom:75px; margin-bottom:0;}
    .phi_wrap .content .detail > div:nth-child(2) {border:none; border-bottom:1px solid #e0e0e0;}

}

@media screen and (max-width:500px)  
{
    .phi_wrap .content .main_circle {width:150px; height:150px; line-height:150px; font-size:17px;}
    .phi_wrap .content .detail > div .mont {font-size:15px;}
    .phi_wrap .content .detail > div .notomedi {font-size:16px; margin-bottom:30px;}
    .phi_wrap .content .detail > div .notoregu {font-size:15px;}
    .phi_wrap .content .detail > div {padding-bottom:40px;}
}


/*운용전략*/
.stra_wrap h3, .stra_who h3 {font-size:32px; margin-bottom:50px;}
.stra_wrap p {font-size:20px; margin-bottom:20px;}
.dot li {font-weight:400; color:#444; font-size:20px; line-height:35px; position:relative; padding-left:15px;}
.dot li::before {content:""; display:inline-block; width:4px; height:4px; background-color:var(--sub-color); position:absolute; top:15px; left:0;}

.strat_list {margin-bottom:40px;}

.stra_who {background-color:#f9f9f9; padding:80px 0;}

@media screen and (max-width:1024px)  
{
    .stra_wrap h3, .stra_who h3 {font-size:25px; margin-bottom:30px;}
    .stra_wrap p {font-size:18px;}
    .dot li {font-size:15px;}

}

@media screen and (max-width:768px)  
{
    .stra_wrap h3, .stra_who h3 {font-size:20px; margin-bottom:20px;}

}


/*펀드구조도*/
.fund {width:100%; text-align:center;}
.fund img {max-width:1240px;}



/*공지사항 리스트 페이지*/
.search_bar {background-color:#f8f8f8; padding:25px 40px; margin:60px 0 35px;}
.search_bar {display:flex; justify-content:space-between;}
.search_bar select {width:20%; font-size:18px; -webkit-border-radius:0;}
.search_bar input[type="text"] {width:58%; margin:0 1%; height:60px; font-size:18px; -webkit-border-radius:0;}
.search_bar button {width:20%; background-color:var(--sub-color); border:none; color:#fff; font-size:18px; cursor:pointer; height:60px;}

.board1 {border-top:2px solid #333; width:100%;}
.board1 thead {border-bottom:1px solid #ccc;}
.board1 thead tr {background-color:#f8f8f8; height:65px;}
.board1 thead tr th {font-weight:700; font-size:20px;}
.board1 thead tr th:last-of-type {border-right:none;}

.board1 thead tr th:nth-child(1) {width:10%;}
/*.board1 thead tr th:nth-child(3) {width:13%;}*/
.board1 thead tr th:nth-child(3) {width:10%;}
.board1 thead tr th:nth-child(4) {width:15%;}


.board1 tbody tr {border-bottom:1px solid #ccc;}
.board1 tbody tr td {text-align:center; font-size:18px; font-weight:400;}
.board1 tbody tr td:last-of-type {border-right:none;}
.board1 tbody tr td i {font-size:25px;}
.board1 tbody tr td a {display:block; padding:33px 0; }
.board1 .textleft {text-align:left; padding-left:20px;}

@media all and (max-width:768px){

    .search_bar {flex-direction:column; padding:25px 25px;}

    .search_bar select {display:block; width:100%; height:50px; margin-bottom:10px; font-size:15px;}
    .search_bar input[type="text"] {display:block; width:100%; margin:0; margin-bottom:10px; font-size:15px;}
    .search_bar button {display:block; width:100%; height:50px; font-size:15px;}

    .board1 thead tr th {font-size:15px;}
    .board1 tbody tr td {font-size:14px; line-height: 20px;}

}


@media all and (max-width: 640px)
{
    .board1 .textleft {padding:0; width:100%;}
    .board1 thead {display:none;}
    .board1 tbody tr {display:block; padding:20px; position:relative;}
    .board1 tbody tr td {display:inline-block; font-size:16px; text-align:left;}
    .board1 tbody tr td:nth-child(1) {display:none;}
    .board1 tbody tr td:nth-child(3) {position:absolute; top:50%; right:20px;}
    .board1 tbody tr td.title {width:100%; display:block; margin-bottom:15px;}
    .board1 .title {width:100%;}
    
    colgroup col {width:100%;}
}

/*페이징*/
.__paging {margin:30px auto 100px; text-align:center;}
.__paging .arr,
.__paging .num {display:inline-block; box-sizing:border-box; vertical-align:top; width:35px; height:35px; text-align:center; color:#a6a6a6; z-index:0; margin:0 2px; position:relative; border-radius:50%;}
.__paging .num {font-size:18px;line-height:30px;}
.__paging .arr i {font-size:18px;display:block;line-height:30px;}
.__paging .num:hover,
.__paging .arr:hover {color:var(--sub-color);}
.__paging .num.active {color:#fff; background-color:var(--sub-color);}
.__paging .prev {margin-right:15px;}
.__paging .next {margin-left:15px;}

@media all and (max-width:1100px){
    .__paging .arr,
    .__paging .num {width:24px;height:24px;margin:0 1px;}
    .__paging .num {font-size:14px;line-height:24px;}
    .__paging .arr i {font-size:16px;line-height:24px;}
    .__paging .prev {margin-right:10px;}
    .__paging .next {margin-left:10px;}
}
/*페이징 끝*/


/*공지사항 뷰페이지*/
.notice_view_wrap {margin:125px 0 100px;}
.notice_view_wrap .board_title {border-top:1px solid var(--sub-color);}
.notice_view_wrap .board_title h5 {color:#000; font-size:24px; line-height:34px; padding:35px 0; text-align:center; font-weight:700;}

.notice_view_wrap .board_title .view_info {display:flex; padding-bottom:30px; border-bottom:1px solid #ebebeb; justify-content:center;}
.notice_view_wrap .board_title .view_info li {margin-right:15px; font-size:14px; color:#999;}
.notice_view_wrap .board_title .view_info li i {margin-right:5px;}


.notice_view_wrap .board_view_cont {padding:50px 0; border-bottom:1px solid #ebebeb;}
.notice_view_wrap .board_view_cont p {line-height:30px;}
.notice_view_wrap .board_view_cont img {max-width:100%;}

.btn_normal > a {display:block; width:150px; line-height:50px; color:#fff; text-align:center; margin:0 auto; background-color:var(--sub-color); border-radius:25px; font-size:18px; font-weight:500; margin-top:50px; transition:all 0.3s;}

.btn_normal > a:hover {background-color:#f0f0f0; color:#000;}


.upload_file {display:flex; background-color:#f8f8f8; padding:20px; border-bottom:1px solid #ebebeb; margin-bottom:50px;}
.upload_file .txt {font-weight:700; font-size:15px; margin-right:40px;}
.upload_file .file > li {margin-bottom:15px;}
.upload_file .file > li > a {color:#666; font-size:15px; }

.prevnext > div {padding:20px; border-top:1px solid #e0e0e0; display:flex; align-items:center;}
.prevnext > div.next {border-bottom:1px solid #e0e0e0;}
/*.prevnext > div p {display:inline-block;}*/
.prevnext > div p.txt {width:90px;}
.prevnext > div p.list {width: calc(100% - 90px);}
.prevnext > div p.list > a {display:block; color:#999;}


/*오시는 길*/
.map {margin-bottom:60px;}
.map .root_daum_roughmap {width:100%;}
.map .root_daum_roughmap .wrap_controllers {display:none !important;}
.map_info {display:flex; align-items:center;}
.map_info > div {display:flex; align-items:center;}
.map_info > div:nth-child(1) {margin-right:130px;}

.map_info  .address {font-size:18px; line-height:24px;}
.map_info > div .circle000 {width:80px; height:80px; border-radius:50%; background-color:#000; color:#fff; font-size:30px; line-height:80px; margin-right:40px; text-align:center; flex-shrink:0;}

.map_info .notobold {font-size:16px; margin-right:10px;}
.map_info .number {font-size:18px;}
.map_info .bar {position:relative; padding-right:10px; margin-right:10px;}
.map_info .bar::after {content:""; display:block; width:1px; height:10px; background-color:rgba(0,0,0,0.2); position:absolute; top:50%; right:0; transform:translateY(-50%);}
.map_info br {display:none;}

@media all and (max-width:1420px){
    .map_info {flex-direction:column; align-items:baseline;}
    .map_info > div:nth-child(1) {margin-bottom:40px; margin-right:0;}
}

@media all and (max-width:500px){
    .map_info br {display:block;}
    .map_info .bar::after {display:none;}
    .map_info .notobold {line-height:24px;}
    .map_info > div .circle000 {width:50px; height:50px; line-height:50px;}
    
    .map_info .address{font-size:15px;}
    .map_info .number {font-size:15px;}
    .map_info .notobold  {font-size:13px;}
}





