/* 일반게시판 리스트 */
.ntb-tb {border-top:2px solid #808080;}
.ntb-tb caption {visibility:hidden;}
.ntb-tb th {padding:10px; border-bottom: 1px solid #ddd;  border-right: 1px solid #ddd; text-align:center; font-weight: bold; color:#333; line-height:18px;}
.ntb-tb td {padding:10px; border-bottom:1px solid #ddd; text-align:center; vertical-align:middle; line-height:18px; word-break:break-all;}
.ntb-tb .left {text-align:left; padding-left:10px;}
.ntb-tb .right {text-align:right; padding-left:10px;}
.ntb-tb .r_none {border-right:none;}
.ntb-tb .font_category {font-weight:bold; color:#0080d3; font-size: 11px;}
.ntb-tb .font_comment {font-weight: bold; font-size: 11px; color: #ee2ea9;}
.ntb-tb .font_search {font-weight:bold; color:#CC3300}

/* 일반게시판 뷰, 쓰기 */
.ntb-tb-view {border-top:2px solid #808080; padding:0; margin-top:10px; margin-bottom:30px; margin:0 auto}
.ntb-tb-view caption {visibility:hidden;}
.ntb-tb-view th {padding:10px; border-bottom: 1px solid #ddd;  border-right: 1px solid #ddd; text-align:center; font-weight: bold; color:#333; line-height:18px;}
.ntb-tb-view td {padding:10px; border-bottom:1px solid #ddd; text-align:center; vertical-align:middle; line-height:18px;}
.ntb-tb-view .left {text-align:left; padding-left:10px;}
.ntb-tb-view .right {text-align:right; padding-left:10px;}
.ntb-tb-view .r_none {border-right:none;}
.ntb-tb-view .b_none {border-bottom:none;}
.ntb-tb-view .font_ip {font-size:8pt; color:#aaa;}
.ntb-tb-view .font_comcnt {color:#d33;}
.ntb-tb-view .font_comment {font-weight: bold; font-size: 11px; color: #ee2ea9;}
.ntb-tb-view .content-area {text-align:left; vertical-align:top; padding:12px; word-break:break-all;}
.ntb-tb-view .sns-area {width:100%; text-align:right; padding-top:10px}
.ntb-tb-view .ip-area {width:100%; text-align:right;}
.ntb-tb-view-btn {position: relative; text-align:left; margin-top:10px; margin-bottom:30px;}
.ntb-tb-view-btn .btnr {position:absolute; right:0; top:0;}
.ntb-tb-view-comment {position: relative; margin-top:10px; margin-bottom:30px;}
.ntb-tb-view-reply {position: relative; margin-top:10px; margin-bottom:30px;}
.ntb-tb-view-prevnext {position: relative; margin-top:10px; margin-bottom:30px;}